*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Times New Roman", Times, Georgia, serif;
    color: #000;
}

a{
    color: #000;
    text-decoration: none;
}

input{
    display: none;
}

.response-message img{
    display: none;
}

#UpArrow{
	display: none;
}

.main-menu{
    display: none;
}

.aiuti-alla-navigazione{
    display: none;
}

.breadcrumb{
    border: 1px solid #ddd;
    background-color: #fff;
}

.breadcrumb a{
    color: #000;
}

.content-search-box{
    display: none;
}

.pageSelector{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.pageSelector input[type=button]{
    visibility: hidden;
}

.pageSelector input[type=button]:disabled{
    opacity: 1;
    border: 1px solid #000;
    color: #000;
    font-size: large;
    font-weight: bolder;
    visibility: visible;
}

.footer .footer-menu, .footer .footer-col{
    display: none;
}

.footer .pie{
    display: block;
    border: 1px dotted #ddd;
    margin: 1cm 0 0 0;
}

/* === SEARCH (lista viaggi, landing ricerca) === */
.travel-list-item{
    border-bottom: 1px dotted #ddd;
}

.travel-image{
    width           : 20%;
    background-color: #fff;
    display: block;
    margin: 0 auto;
}

.travel-details-container .main-img{
    width           : 50%;
    display: block;
    margin: 0 auto;
}

.travel-goto{
    display: none;
}

/* === TRAVEL DETAILS === */
.travel-reviews{
    border: 1px solid #ddd;
    margin: 1cm 0 0 0;
}

.star{
    display: none;
}

.related-list{
    list-style-type: circle;
    font-size: medium;
}

.related-list img{
    display: none;
}

/* === ORDERS, ORDER ITEM, CARRELLO, ORDER DETAIL === */

.order-form fieldset, .carrello-item, .subtotale, .order-item{
    padding: 0.5cm;
    border: 1px dotted #ddd;
    margin: 1cm 0 1cm 0;
}
.order-form h2{
    text-align: center;
    border-bottom: 2px dashed #ddd ;
    margin: 0 0 0.5cm 0;
}

.order-form h3, .carrello-item h2, .carrello-item h3{
    display: inline;
}

.travel-order,.order-info{
    border-bottom: 1px dotted #ddd;
    margin: 0 0 0.5cm 0;
}

.totale input[type="button"]{
    display: none;
}

.riepilogo-contenuto h2{
    text-align: center;
}

.riepilogo-contenuto h3{
    display: inline;
}

/* ===  CARRELLO === */
.carrello-item, .subtotale{
    width: 70%;
    margin: 0 auto;
    margin-top: 1cm;
    margin-bottom: 1em;
}

.carrello-contenuto input, .order-item input{
    display: none
}

/* === PROFILO === */
.form-registrazione{
    border: 1px dotted #ddd;
}
.form-registrazione fieldset{
    border: 0px;
}

.form-registrazione input{
    display:none;
}
