/*GENERAL CSS*/
:root {
    --primary  : #0a3150;
    --secondary: #c53020;
    --white    : #ffffff;
}

* {
    padding: 0em;
    margin : 0em;
}

body {
    /* font-family: 'Lato'; */
    font-family        : 'Baloo Thambi 2', sans-serif;
    /* max-width       : 70rem; */
    max-width          : 1024px;
    margin             : auto;
    height             : 100%;
    width              : 100%;
    background-color   : white;
    color              : #0a3150;

}

button {
    background-color: var(--secondary);
    color           : var(--white);
}

.travel_details {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
}

.travel_details .row {
    width : 100%;
    margin: auto 0;
}

.travel_details .elevator_pitch {
    display       : flex;
    flex-direction: row;
    margin        : 3vh 0;
}

.travel_details .elevator_pitch .main_img {
    height      : 50vh;
    width       : auto;
    margin-right: 4vw;
}

.travel_details .elevator_pitch .main_infos {
    display       : flex;
    flex-direction: column;
    margin        : 0 !important;
}

.travel_details .elevator_pitch .main_infos img {
    margin-right: 0.5vw;
}

.travel_details .elevator_pitch .main_infos dt {
    margin   : 0.5vw 0;
    max-width: 20vw;
}

.travel_details .elevator_pitch .main_infos .title {
    color      : var(--primary);
    font-weight: bold;
    font-size  : 2em;
}

.travel_details .elevator_pitch .main_infos .price {
    font-size: 1.5em;
    color    : red;
}

.travel_details .elevator_pitch .main_infos .cart {
    min-width : 100%;
    padding   : 1em;
    margin-top: 1em;
}

.travel_details .complete_informations {
    margin: 2vh 0;
}

.travel_details .cart {
    min-width: 80%;
    padding  : 1em;
    margin   : 1vh 0;
}

.form_integrazioni {
    padding: 1vh 0;
}

/* === DASHBOARD === */
.board-flex-container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    background-color:#fff;
    width: 100%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: top;
}

#board_menu{
    width: 30%;
    order: 1;
}

#board_contenuto{
    width: 70%;
    order: 2;
    margin:auto;
    vertical-align: top;
    margin-top: 0;
}

#board_footer{
    width: 100%;
    order: 3;
    margin-top: 2em;
}

/* === DASHBOARD MENU === */
.menu_dashboard{
    background-color: #c53020;
    height: 100%;
    text-align: center;
}

.lista_menu{
    margin: 1em;
}

.menu_dash_element{
    background-color: #fff;
    border: 3px solid #fff;
    list-style-type: none;
    margin-bottom: 3em;
    padding:0.5em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu_dash_element:hover{
    border: 3px solid #0a3150;
    margin-bottom: 3em;
    padding:0.5em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu_dash_element_selected{
    background-color: #fff;
    border: 3px solid #fff;
    list-style-type: none;
    margin-bottom: 3em;
    padding:0.5em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu_logo{
    width: 150px;
    height: 150px;
}


/* === DASHBOARD FORM === */
.dash-form{
    border-color: #c53020;
    background-color:#fff;
    color: #c53020;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin:auto;
    margin-top: 1em;
}

.dash-form input[type=text], input[type=number], textarea{
    background-color:#E9EBEE;
    width: 90%;
    padding: 12px 20px 10px 10px;
    margin: 5px 0;
    border: 0px;
    border-bottom: 1px solid #c53020;
    font-family: 'Roboto', sans-serif;
    resize: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dash-form input[type=number]{
    -moz-appearance: none;
}

.dash-form input[type=number]::-webkit-inner-spin-button, 
.dash-form input[type=number]::-webkit-outer-spin-button {  
    opacity: 0;
}

.dash-form input[type=date]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid #c53020;
    background-color: #E9EBEE;
}
.dash-form input[type=date]::-webkit-calendar-picker-indicator:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  
.dash-form input[type=text]:hover, input[type=number]:hover, textarea:hover{
    border-bottom: 2px solid #c53020;
}

.dash-form input[type=text]:active, input[type=number]:active, textarea:active{
    outline: none;
    box-shadow: none;
}

.dash-form input[type=text]:focus, input[type=number]:focus, textarea:focus{
    outline: none;
    box-shadow: none;
}

.dash-form .p_input_error{
    visibility: hidden;
}

.dash-form .bottoneform{
    border-radius: 5px;
    color:#fff;
    background-color: #c53020;
    border: 3px solid #c53020;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 30px;
    cursor:pointer;
}
 
.dash-form .bottoneform:hover{
    background-color: #9C2619;
    border: 3px solid #9C2619;
    border-radius: 5px;
    color: #fff
}

.dash-form .bottoneform:active, .dash-form .bottoneform:focus{
    outline: none;
    box-shadow: none;
}

.dash-form #fieldDate{
    text-align: center;
}

.dash-form .date{
    display: block;
    width: 60%;
}

.dash-form fieldset
{
    border-color: #c53020;
    width: 100%;
    margin:auto;
    margin-bottom: 1.5em;
    padding-left: 1em;
    padding-top: 1em;
}

.dash-form legend{
    text-align: center;
    font-size: larger;
}

.dash-form .fieldDate{
    text-align: center;
}

.dash-form input[type=date]{
    border-color: #c53020;
    border: 2px solid #c53020;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: text;
    display: inline-block;
    background-color: #E9EBEE;
}

.dash-form input[type="file"]{
    border: 2px solid #c53020;
    border-radius: 5px;
    color:#c53020;
    background-color: #fff;
    padding: 30px;
    cursor:pointer;
    margin: auto;
}

.dash-form .btn-submit, .dash-form .btn-reset{
    width: 100%;
    text-align: center;
    font-size: medium;
    margin: 5px 0px 10px 10px;
}

.dash-form .btn-reset{
    padding: 1em;
}

.dash-form input[type=checkbox]{
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

.dash-form .checkbox-integrazioni{
    margin-bottom: 1em;
}

.dash-form .add-tag{
    padding: 1em;
    display: inline-block;
    margin-bottom: 1em;
}

.dash-form .tag-inseriti{
    display: inline-block;
    margin-bottom: 1em;

}

.dash-form .miscellanea .checkbox-integrazioni{
    margin-top: 5px;
}

/* === DASHBOARD CARD, TITOLI === */
.adm-card{
    border: 0px solid #c53020;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    background-color: #E9EBEE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.adm-card input[type="button"]{
    text-align: center;
}

.adm-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.adm-bottone-modifica-card{
    border-radius: 5px;
    color:#fff;
    background-color: #1B88E0;
    border: 3px solid #1B88E0;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    width: 40%;
    margin: 0.5em;
}
.adm-bottone-modifica-card:hover{
    background-color:#1463A3;
    border: 3px solid#1463A3;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.adm-bottone-elimina-card, .adm-bottone-elimina-recensione{
    border-radius: 5px;
    color:#fff;
    background-color: #FA3E37;
    border: 3px solid #FA3E37;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    width: 40%;
    margin:auto;
    margin: 0.5em;
}

.adm-bottone-elimina-card:hover, .adm-bottone-elimina-recensione:hover{
    background-color: #A21E1B;
    border: 3px solid #A21E1B;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.adm-bottone-approva-recensione{
    border-radius: 5px;
    color:#fff;
    background-color: #4caf50;
    border: 3px solid #4caf50;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    width: 40%;
    margin:auto;
    margin: 0.5em;
}

.adm-bottone-approva-recensione:hover{
    border-radius: 5px;
    color:#fff;
    background-color: #087f23;
    border: 3px solid #087f23;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    width: 40%;
    margin:auto;
    margin: 0.5em;
}

.adm-form-card{
    display: inline;
} 

.adm-bottoni-gestione{
    text-align: center;
}

.adm-card h3{
    display: inline;
}

.adm-card h2{
    text-align: center;
    font-weight:bold;
}

.adm-titolo{
    width: 100%;
    background-color: #E9EBEE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #c53020;
    text-align: center;
    margin-bottom: 0.5em;
}

.adm-card-rev{
    text-align: center;
}

/* === SEARCH BOX === */

.form-search{
    background-color: #0a3150;
    color:white;
    margin:auto;
    width: 75%;
    border-radius: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.search-box-input{
    background-color: #c53020;
    border-radius: 2em;
    width: 95%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.form-search input{
    border-radius: 2em;
    border: 0;
}

.search-box-date{
    display: inline-block;
    background-color: #c53020;
    border-radius: 2em;
    border: 0;
    width: 95%;
    vertical-align: middle;
    padding: 0.5em;
    background-image: url();
}

.search-box-input .search-key{
    width: 60%;
}

.search-box-input .search-box-submit{
    width: 25%;
    display: inline;
    cursor:pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    border: 0;
}

.form-search .search-key:hover, .form-search .search-box-submit:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form-search .search-box-submit:hover{
    color: #c53020;

}

.search-box-date1{
    display: inline-block;
    margin-left : 1em;
    margin-right: 1em;
    padding-left: 1em;
}

.search-box-date1:hover{
    border-radius: 20px;
    background-color: #A21E1B;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}

.form-search input{
    padding:1em;
}

#fieldset_search{
    border: 0;
}

.aiuti-alla-navigazione{
    visibility: hidden;
}

.search-box-div-filtri{
    display: none;

}
.form-search input[type="date"]{
    cursor: text;
}

.form-search ::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}

.form-search input:focus{
    outline: none;
    box-shadow: none;
}
