/* === MAIN MENU === */
.main-menu {
  background-color: #FF8C00;
  width          : 100%;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.24);
  max-height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.mm-item{
  order: 1;
  background-color: #FF8C00;
  max-width: 80%;
}

.mm-logo{
  width: 80%;
  min-height: fit-content;
}

.mm-menu{
  order: 2;
}

.menumobile {
  display: none;
}

.show-menumobile{
  display: flex;
}

.hide-menumobile{
  display: flex;
}

.menumobile li {
    list-style-type: none;
    margin         : 1em;
}

.main-menu  .menuPage{
    padding         : 0.3em;
    padding-left    : 1em;
    padding-right   : 1em;
    border-radius: 5px;
    background-color: #fff;
    border-bottom: 3px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 3px rgba(0,0,0,0.24);
    width: 100%;
}

.main-menu  .menuPageDisabled {
  padding         : 0.3em;
  padding-left    : 1em;
  padding-right   : 1em;
  border-radius: 5px;
  background-color: #fff;
  border-bottom: 3px solid #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 3px rgba(0,0,0,0.24);
  width: 100%;
}

.main-menu  .menuPage:hover {
    border-bottom: 3px solid #0a3150;
    box-shadow: 0 6px 10px rgba(0,0,0,0), 0 6px 10px rgba(0,0,0,0.23);
}

/* === MOBILE  MENU === */
.mm-hamburger{
  display: none;
}

@media only screen and (max-width: 868px) {

        .main-menu{
            min-width: 100%;
            padding: 0;
            flex-direction:column;
            justify-content: flex-start;
        }

        .fixheight{
          min-height: 38em;
        }

        .hide-menumobile{
          display: none;
        }
        

        .mm-item{
          order: 1;
          min-width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
        }

        .mm-logo{
          order: 1;
          width: 20%;
        }

        .mm-hamburger{
          order:2;
          background-color: #0a3150;
          margin-left: 1em;
          color:#fff;
          line-height: 90%;
          display: inline-flex;
          height: 60px;
          font-size: 4em;
          padding: 0 0.1em 0 0.1em;
          margin:3px;
          text-align: center;
          border-radius: 10px;
        }

        .mm-menu{
          order: 2;
          min-width: 100%;
        }

        .main-menu  .menuPage{
            padding: 0;
            margin: 0 auto;
        }

        .main-menu  .menuPageDisabled{
          padding: 0;
          margin: 0 auto;
      }
      
        .menumobile{
            width: 100%;
            background-color: #0a3150;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            padding-top: 1em;
            text-align: center;
            margin: 0 auto;
            order: 2;
            flex-direction: column;
            min-height: 400px
        }


        .menumobile li{
          width: 100%;
          padding: 0;
          margin: 0 auto;
          margin-bottom: 1em;
          min-height: 48px;
        }  

          .menumobile li a{
            display: block;
            max-width: 90%;
            margin: 0 auto;
            font-size: 30px;
          }   

          .menumobile li span{
            display: block;
            max-width: 90%;
            margin: 0 auto;
            font-size: 30px;
          } 

          .main-menu  .menuPage {
            border: 5px solid #0a3150;
          }  

          .main-menu  .menuPageDisabled {
            border: 5px solid #0a3150;
          } 

          .main-menu  .menuPage:hover {
            border: 5px solid #FF8C00;
          }   

          .main-menu ul li a:active{
            border-bottom: 3px solid #0a3150;
          }  
}