/*BOX SUGGERIMENTI*/

.boxSuggerimenti {
    text-align: center;
}

.boxSuggerimenti li{ 
    list-style-type: none;
    display: inline-flex;
}

.boxSuggerimenti a{
    height: 10em;
    width: 10em;
    margin: 1em;
    text-decoration: none;
    border-radius: 3%;
}

.boxSuggerimenti h2{
    text-transform: uppercase;
    font-size: 100%;
    margin-top: 7em;
    color:  #0a3150;
    background-color: white;
}

.boxSuggerimenti a:hover{
    opacity: 0.5;
}

.boxSuggerimenti a:visited h2{
    color: purple;
}

.generalBackground{
    background-size: 10em 10em;
    border: 1px solid #0a3150;
}

#Perlei{
    background-image: url("../img/tag_background/perLei.jpg");
}

#Anniversario{
    background-image: url("../img/tag_background/anniversario.jpg");
}

#Perlui{
    background-image: url("../img/tag_background/perLui.jpg");
}

#Coppia{
    background-image: url("../img/tag_background/coppia.jpg");
}

#Famiglia{
    background-image: url("../img/tag_background/famiglia.jpg");
}