/*TRAVEL REVIEWS*/
.travel-reviews{
    border-top : 2px solid #0a3150;
    border-bottom: 2px solid #0a3150;
    box-shadow: 
    inset 0px 11px 8px -10px rgba(0,0,0,0.23),
    inset 0px -11px 8px -10px rgba(0,0,0,0.23); 
    
    padding-top: 2em;
    padding-bottom: 2em;
}

.media-voti {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.reviews-list{
    list-style-type: none;    
}


.header-review{
    display: inline-flex;
    align-items: baseline;
    padding: 0.5em 0.5em 0 0.5em;
}

/* ul li*/
.item-review{
    list-style   : none;
    margin-bottom: 1em;
    border       : 0;
    padding      : 0.5em;
    margin-top   : 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border : 1px solid lightgray;
}

.travel-reviews h3 {
    font-size: 1.2em;
    display  : inline-flex;
    margin-left: 1em;
}

.content-review {
    border-top : 2px solid #0a3150;
    padding-top: 1em;
    margin     : 1em 0em 1em 0em;
}

.stelle-text {
    background-color:  #0a3150;
    color: #fff;
    padding: 0.2em;
    border-radius: 40%;
    margin-right: 0.5em;
}

.star{
    margin-left: 0.2em;
    width: 1.2em;
}

