/*GENERAL CSS*/
:root {
    --primary   : #0a3150;
    --secondary : #FF8C00;
    --secondary_lighter: #ff9e14;
    --secondaty_lighter2: #ffd394;
    --blue1     : #60AAE6;
    --blue2     : #1B88E0;
    --blue3     : #11568F;
}

* {
    padding: 0em;
    margin : 0em;
}

body {
    max-width          : 1024px;
    margin             : auto;
    height             : 100%;
    width              : 100%;
    background-color   : #fff;
    color              : #0a3150;
    font-family         : 'Roboto' ,sans-serif, Arial, Helvetica, sans-serif;
    line-height: 2;
}

p,a,h1,h2,h3,h4,input,label{
    letter-spacing: .03em;
    word-spacing:   .08em;
}

label{
    display: block;
}

strong{
    font-weight: 900;
}

label, legend{
    font-weight: bolder;
    font-size: 18px;
}
input,a{
    font-size: 16px;
    cursor: pointer;
}

input[type="text"], input[type="date"], textarea{
    cursor: text;
}

button a{
    display: block;
    width: 100%;
}
.aiuti-alla-navigazione{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.azzera-altezza{
    height: 0px;
    width: 0;
}


/* ===  BREADCRUMB === */
.breadcrumb{
    color: #fff;
    background-color: #0a3150;
    padding: 0.2em 0em 0.2em 0em;
    width: 100%;
    order: 2;
}

.breadcrumb p{
    margin: 0 0 0 1em;
}

.breadcrumb a{
    color: #fff;
}



/* === RESPONSE MESSAGE === */
.response-message{
    min-width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    order: 3;
}
.response-img{
    width: 25vw;
    margin: 0 auto;
    display: block;
}

.response-message a{
    font-size: 1em;
}


/* === ERROR BOX === */
.error-box{
    width: 100%;
    text-align: center;
    color: #b60000;
}

.error-box ul{
    list-style-type: none;
    text-align: center;
}

.error-box ul li{
    width: 100%;
    text-align: center;
}

/* === LAYOUT index.html ===*/
.contenuto-home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenuto-home .main-menu{
    order: 1;
}

.contenuto-home .breadcrumb{
    order: 2;
}

.contenuto-home .content-search-box{
    order: 3;
    padding-top: 2em;
    padding-bottom: 7em;
    background-color: #ffd394;
}

.contenuto-home .boxSuggerimenti{
    order: 4;
    background-color: #d7ecff;
    padding: 2em 0 6em 0;
}

.contenuto-home .footer{
    order: 5;
}
/* === SUGGERIMENTI ===*/

.boxSuggerimenti {
    text-align: center;
    padding-bottom: 2em;
    padding-top: 1em;
}

.boxSuggerimenti li {
    list-style-type : none;
    display         : inline-flex;
    vertical-align  : bottom;
    height: 11em;
    width: 10em;
    margin: 1em;
}

.boxSuggerimenti a {
    height         : 100%;
    width          : 100%;
}

.boxSuggerimenti h3 {
    text-transform  : uppercase;
    font-size       : 100%;
}

.generalBackground {
    background-size: 10em 10em;

}

.img-suggerimenti{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.img-suggerimenti:hover{
    opacity: 0.8;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* === DASHBOARD board.html === */
.board-flex-container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    background-color:#fff;
    width: 100%;
    padding: 0;
}

.board-menu{
    width: 30%;
    order: 1;
    background-color: #0a3150;
    text-align: center;
}

.board-contenuto{
    width: 70%;
    order: 2;
    margin:auto;
    margin-top: 0;
}
.board-contenuto .page-selector{
    background-color: #fff;
}
.board-contenuto ul{
    padding-top: 1em;
}
.board-flex-container .footer{
    order:3;
}

/* === DASHBOARD MESSAGGIO INIZIALE === */
.messaggio-dashborad{
    max-width: 100%;
    text-align: center;
    margin: 0 auto;

}
/* === DASHBOARD MENU === */

.menu-dashboard{
    background-color: #0a3150;
    text-align: center;
    min-height: 100%;
}

.board-menu .mm-logo{
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 1em;
    background-color: #0a3150;
}


.menu-dash-element{
    background-color: #fff;
    border: 3px solid #fff;
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    display: block;
}

.menu-dash-element:hover{
    background-color: #FF8C00;
    border: 3px solid #FF8C00;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-dash-element-selected{
    cursor: none;
    text-decoration: none;

}

.menu-dash-element a{
    margin: 0; 
    display: block; 
    width: 100%; 
    min-height: 100%; 
    max-height: 100%;
    padding: 1em 0 1em 0;
}

.menu-dash-element span{
    margin: 0; 
    display: block; 
    width: 100%; 
    min-height: 100%; 
    max-height: 100%;
    padding: 1em 0 1em 0;
}

/* === DASHBOARD FORM === */
.dash-form{
    border-color: #0a3150;
    color: #0a3150;
    width: 75%;
    margin:auto;
    margin-top: 1em;
    margin-bottom: 3em;
}

.dash-form fieldset{
    display: block;
    margin: 1.0em auto;
    text-align: center;
    border-radius: 5px;
}

.dash-form fieldset{
    padding: 0;
    text-align: left;
}

.input{
    width: 90%;
    padding: 12px 20px 10px 10px;
    margin: 5px 0;
    border: 2px solid #aaa;
    border-radius: 5px;
    resize: none;
    margin-bottom: 1.5em;
    color: #0a3150;
}

.dash-form .input{
    width: 90%;
}

.input:hover{
    background-color: #f5f9ff;
    border: 2px solid #0a3150;
}

.dash-form .input-date{
    cursor: text;
    text-align: center;
}

.input:focus, .input:active{
    border: 2px solid #0a3150;
    background-color: #E9EBEE;
    outline: none;
    box-shadow: none;
}

input[type=number]{
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;
    margin: 0;
}

.input-date::-webkit-calendar-picker-indicator{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid #aaa;
    border-radius: 5px;
}
.input-date::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid #0a3150;
    border-radius: 5px;
}

.p_input_error{
    visibility: hidden;
    color: #b60000;
    margin-bottom: 1em;
}

.bottoneform{
    border-radius: 5px;
    color:#fff;
    background-color: #0a3150;
    border: 3px solid #0a3150;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 30px;
    cursor:pointer;
}
 
.bottoneform:hover{
    opacity: 0.8;
    border-radius: 5px;
}

.bottoneform:active, .dash-form .bottoneform:focus{
    outline: none;
    box-shadow: none;
}

.dash-form fieldset{
    border-color: #0a3150;
    width: 100%;
    margin:auto;
    margin-bottom: 1.5em;
    padding-left: 1em;
    padding-top: 1em;
    border-radius: 10px;

}

.dash-form legend{
    text-align: center;
    font-size: larger;
}

.dash-form .input-file{
    cursor:pointer;
}

.btn-submit, .dash-form .btn-reset{
    width: 100%;
    text-align: center;
    font-size: medium;
    margin: 5px 0px 10px 10px;
}

.dash-form .btn-reset{
    padding: 1em;
}

.dash-form input[type=checkbox]{
    height: 2em;
    width: 2em;
    vertical-align: middle;
    margin:  0.2em 0.5em 0.2em 0;
}

.dash-form .add-tag{
    padding: 1em;
    display: inline-block;
    margin-bottom: 1em;
}

.dash-form .tag-inseriti{
    display: inline-block;
    margin-bottom: 1em;

}

.miscellanea{
    margin-bottom: 1em;
}

.TagList li{
    margin: 0.5em 0 0.5em 0;
}

.dash-form .radiobtn{
    text-align: left;
    padding: 0 0 0 25%;
}

.landing{
    text-align: center;
    margin: 1em;
}

.landing strong{
    background-color: #e49d44;
}

/* === DASHBOARD CARD, TITOLI === */
.board-contenuto ul{
    list-style: none;
}

.adm-card{
    border: 0px solid #FF8C00;
    padding: 1em 1em 1em 1em;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #E9EBEE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 80%;
}

.adm-card input[type="button"]{
    text-align: center;
}

.adm-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.adm-bottone-modifica-card{
    border-radius: 5px;
    color:#fff;
    background-color: #11568F;
    border: 3px solid #11568F;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
    outline: none;
    padding: 10px;
    width: 40%;
    margin: 0.5em;
}

.adm-bottone-modifica-card:hover{
    background-color: #0a3150;
    border: 3px solid #0a3150;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}


.adm-bottone-elimina-card, .adm-bottone-elimina-recensione{
    border-radius: 5px;
    color:#fff;
    background-color: #b80000;
    border: 3px solid #b80000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
    outline: none;
    padding: 10px;
    width: 40%;
    margin:auto;
    margin: 0.5em;
}

.adm-bottone-elimina-recensione:hover, .adm-bottone-elimina-card:hover{
    background-color: #ff0000;
    border: 3px solid #ff0000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.adm-bottone-approva-recensione{
    border-radius: 5px;
    color:#fff;
    background-color: #026c45;
    border: 3px solid #026c45;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    margin: 0.5em;
}

.adm-bottone-approva-recensione:hover{
    background-color: #4caf50;
    border: 3px solid #4caf50;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #fff;
    cursor: pointer;
}

.adm-form-card{
    display: inline;
} 

.adm-bottoni-gestione{
    text-align: center;
}

.adm-card h3{
    display: inline;
}

.adm-card h2{
    text-align: center;
    font-weight:bold;
}

.adm-titolo{
    width: 100%;
    color:  #0a3150;
    text-align: center;
    margin-bottom: 0.5em;
    background-color: #E9EBEE;
}

.adm-card-rev{
    text-align: center;
}

/* === SEARCH BOX === */
.content-search-box{
    margin: 0 auto;
    background-color: #ffd394;
    padding: 2em 0 2em;
    margin-bottom: -1em;
}
.form-search{
    background-color: #0a3150;
    color:#000;
    margin: 0 auto;
    width: 90%;
    border-radius: 30px;
    text-align: center;
    padding: 2em 0 1em 0;
}

.form-search legend{
    height: 0px;
}

.form-search fieldset{
    display: block;
    border: 0;
}

.form-search input, .form-search label, .lista{
    border-radius: 2em;
    border: 0;
}

.form-search input, .lista{
    padding: 1.2em;
    border:  2px solid #fff;
}

.lista{
    font-size: medium;
    cursor: pointer;
    width: 50%;
}

.lista:active, .lista:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.form-search .src-input:hover, .lista:hover{
    background-color: #d3e2f8;
    border:  2px solid #d3e2f8;
}
.form-search .src-input:focus, .lista:focus{
    background-color: #91bcfd;
    border:  2px solid #91bcfd;
}

.form-search span{
    margin-left: 0.5em;
}

.search-box-div{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    border-radius: 2em;
    text-align: left;
    align-content: center;
    margin-bottom: 1em;
}

.search-box{
    background-color: #FF8C00;
}

.search-input-field{    
    width: 70%;
}

.search-input-field .search-key{
    width: 70%;
}

.search-submit-field{
    width: 30%;
}

.search-submit{
    min-width: 100%;
    background-color: #4caf50;
    font-weight: bolder;
}

.search-submit:hover{
    border: 2px solid #4caf50;
    color: #fff;
}

.search-label{
    min-width: 45%;
    display: inline-flex;
    justify-content: space-between;
    background-color: #FF8C00;
    min-width: 49%;
    align-items: center;
    margin: 0 auto;
    margin-top: 1em;
}

#btn-filtri{
    width: 90%;
    background-color: #1B88E0;
    border: 2px solid #d3e2f8;
}
#btn-filtri:hover{
    border: 2px solid #1B88E0;
    color: #fff;
}

.form-search .filtri-si{
    display: block;
}
.form-search .filtri-no{
    display: none;
}

.form-search ::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}

.form-search input:focus{
    outline: none;
    box-shadow: none;
}
.board-contenuto .search-key{
    width: 90%;

}
.board-contenuto .search-input-field span{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.board-contenuto .search-submit-field, .board-contenuto .search-input-field{
    display: block;
    margin: 0.5em 0 0.5em 0;
    width: 100%;
}

/* === adattamento form alla dash di amministrazione === */
.board-flex-container .search-box{
    margin: 0 0 1em 0;
}

.board-flex-container .search-label{
    width: 100%;  
    margin: 0 0 1em 0;
}

/* === TRAVELS LIST === */
.risultati-ricerca{
    background-color: #ffd394;
}

.travels-list{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: -1em;
    background-color: #ffd394;
    order:3;
    list-style-type: none;
}

.travel-list-item {
    flex: 0 0 300px;
    max-width: 300px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background-color: #f5f5f5;
    margin: 1em ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title{
    height: 6em;
}

.item-desc{
    height: 12em;
    padding: 0.3em;
}

.item-info{
    background-color: 	#FFFACD;
}
.travel-list-item p, .travel-list-item h2, .travel-list-item h3{
    padding: 0em 0.5em 0em 0.5em;
}

.travel-list-item h2{
    text-align: center;
    min-height: 10%;
    margin-bottom: 0.5em;
}

.travel-list-item p{
    text-align: justify;
    margin-bottom: 1em;
}

.travel-list-item h3{
    font-weight: bolder;
    display: inline;

}
.travel-image{
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #FF8C00;
}

.travel-goto{
    padding:0.5em;
    background-color: #00ACFF;
    color: #fff;
    border: 0;
    font-size: large;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em; 
    margin-top: 1em;
    display:block;
    text-align: center;
    width: 90%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.travel-goto:hover{
    background-color: #0a3150;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.travel-goto:hover a{
    color: #fff;
}

.travel-goto:focus{
    outline: none;
    box-shadow: none;
}

/* === TRAVEL DETAILS === */
.travel-details-container {
    display         : inline-flex;
    flex-direction  : row;
    flex-wrap       : wrap;    
    justify-content : space-between;
    margin-top      : 1em;
    width           : 100%;
    min-height: 80%;
    max-height: 80%;
}

.main-img{
    order           : 1;
    width           : 50%;
    max-height      : 50vh;
    background-size: cover;
    border          : 2px solid #ddd;
}

.travel-details-container .travel-details-info {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    order           : 2;
    min-width: 48%;
    max-width: 48%;
}

.travel-details-info h1{
    margin-bottom   : 0.5em;
}

.travel-details-container .complete-desc{
    order           : 3;
    padding: 0 0.5em 0 0.5em;
    width: 100%;
    margin-top      : 2em;
}

.travel-details-container .travel-goto{
    font-size       : large;
    text-align      : center;
    width           : 90%;
    padding         : 1em;
    margin          : 0 auto;
    border-radius   : 10px;
}

.travel-details-container .price{
    font-size       : x-large;
    background-color:#ffd394;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
}

    /* === TRAVEL REVIEWS === */
    .reviews{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1em;
        border-top: 2px solid #FF8C00;
        border-bottom: 2px solid #FF8C00;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .media-voti{
        padding: 0 0.5em 0 0.5em;
    }

    .reviews-list{
        width: 95%;
        margin: 0 auto;
    }

    .rev-title{
        display: block;
    }

    .btn-add{
        width: 90%;
    }

/* === TRAVEL REVIEWS === */
.travel-reviews{
    border-top : 2px solid #0a3150;
    border-bottom: 2px solid #0a3150;
    box-shadow: 
    inset 0px 11px 8px -10px rgba(0,0,0,0.23),
    inset 0px -11px 8px -10px rgba(0,0,0,0.23); 
    
    padding-top: 2em;
    padding-bottom: 2em;
}

.media-voti {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}


.header-review{
    display: inline-flex;
    align-items: baseline;
    padding: 0.5em 0.5em 0 0.5em;
}

/* ul li*/
.item-review{
    list-style   : none;
    margin-bottom: 1em;
    border       : 0;
    padding      : 0.5em;
    margin-top   : 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border : 1px solid #ddd;
}

.travel-reviews h3 {
    font-size: 1.2em;
    display  : inline-flex;
    margin-left: 1em;
}

.content-review {
    border-top : 2px solid #0a3150;
    padding-top: 1em;
    margin     : 1em 0em 1em 0em;
}

.stelle-text {
    background-color:  #0a3150;
    color: #fff;
    padding: 0.2em;
    border-radius: 40%;
    margin-right: 0.5em;
}

.star{
    margin-left: 0.2em;
    width: 1.2em;
}



/* === TRAVEL RELATED ITEM === */

.related-travels{
    order: 4;
    margin-top: 1em;
    margin-bottom: 1em;
}

.related-travels .travels-list{
    background-color: #fff;
}

.related-travels h2{
    margin-top: 1em;
}

.related-travels .travel-list-item{
    flex: 0 0 200px;
}

.related-travels .travels-list{
    justify-content: center;
}

.related-list li{
    list-style: none;
    text-align: center;
    font-size: small;
}
.related-info{
    margin-top: 1em;
    margin-bottom: 1em;
}

.related-travels .travel-list-item a{
    min-height: 100%;
}

/* === REGISTRAZIONE, LOGIN=== */
.form-registrazione{
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-registrazione fieldset{   
    text-align: center;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.form-registrazione .btn-submit{
    width: 95%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.sotto-form-reg-acc p{
    text-align: center;
    font-size: 1.4em;
    margin: 1em;
}

.sotto-form-reg-acc a{
    font-size: 1em;
}

.titolo-pagina{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
    width: 100%;
    display: block;
}

/* === ABOUT US === */

.about-us-container{
    width: 100%;
}
.au h2{
    text-align: center;
}


.au{
    margin: 0 auto;
    margin-top      : 2em;
    margin-bottom   : 2em;
    background-color: #E9EBEE;
    border-radius   : 10px;
    order           : 3;
    padding         : 1em;

}

.au ul{
    list-style:none;
    width: 100%;
}

.au ul li h3{
    margin-left: -0.5em;
    border-bottom: 2px solid #0a3150;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.au ul li{
    background-color: #ffd394;
    border-radius: 5px;
    margin-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

.au ul li table{
    border-collapse: collapse;
    background-color: #ddd;
    margin-right: 1em;
    width: 98%;
    text-align: center;
}

.au ul li table td, table th {
    border: 2px solid #aaa;
    padding: 8px;
}

.au ul li table tr:nth-child(even){background-color: #f2f2f2;}

.au ul li table thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0a3150;
    color: #fff;
}

caption{
    font-size: larger;
    margin: 0.5em 0 0.5em 0;
}

/* === PROFILO  MENU === */

.profilo-flex-container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    background-color:#fff;
    width: 100%;
    padding: 0;
    vertical-align: top;
}

.profilo-flex-container .main-menu{
    order: 1;
}

.profilo-flex-container .breadcrumb{
    order: 2;
}

.profilo-menu{
    order: 3;
    min-height: 100%;
    width: 30%;
    background-color: #0a3150;
    padding-top: 3em;
}

.profilo-contenuto{
    min-height: 80vh;
}

.profilo-contenuto .form-registrazione{
    width: 80%;
}

.profilo-contenuto{
    width: 65%;
    order: 4;
    display: block;
    margin-top: 0;
    margin-bottom: 3em;
    padding: 0.5em;
}

.profilo-contenuto ul{
    list-style:  none;
    text-align: left;
    padding-bottom: 1em;

}

.profilo-contenuto h3{
    display: inline;
}

.profilo-flex-container .page-selector{
    order: 5;
    align-items: flex-end;
    min-width: 100%;
}

.profilo-flex-container .footer{
    order: 6;
    min-width: 100%;
}

.profilo-contenuto .adm-bottone-modifica-card, .profilo-contenuto .adm-bottone-elimina-card{
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.dati-personali, .successo-modifica{
    border: 2px solid #0a3150;
    padding: 1em 0.5em 1em 0.5em;
    margin: 0 0 3em 0;
}
.successo-modifica{
    text-align: center;
}
/* === ORDERS, ORDER ITEM === */
.order-form fieldset, .carrello-item, .subtotale{
    padding: 0.5em;
    border: 1px solid #0a3150;
    box-shadow      : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 1em 0 1em 0;
}
.order-form h2, .subtotale h2{
    text-align: center;
    border-bottom: 2px solid #0a3150 ;
    margin: 0 0 0.5em 0;
}
/* === ORDER DETAILS === */

.riepilogo-contenuto .adm-bottone-approva-recensione{
    width: 100%;
    margin: 0 auto;
}

.titolo-totale{
    background-color: #ffd394;
    text-align: center;
    margin: 2em 0 2em 0;
}

.order-details h1{
    background-color: #FFBA66;
}

.order-details h2{
    background-color: #ffd394;
}

.order-details h2{
    background-color: #ffd394;
}

.elenco-viaggi{
    margin-top: 2em;
}

.travel-order{
    list-style: none;
    padding: 2em 0 2em 0;
}

.travel-order{
    background-color: #f5f5f5;
}

.travel-order ul{
    margin:0 auto;
    padding: 1em 0 0 0;
    list-style-type: none;
    width: 95%;
}

.travel-order .adm-bottone-approva-recensione{
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.no-rec{
    width: 95%;
    background-color: #FFFF00;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:1em;
}

/* ===  CARRELLO === */
.carrello-flex-container{
        display: flex;
        flex-flow: row wrap;
        background-color:#fff;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        vertical-align: top;
}

.carrello-flex-container .main-menu{
    order: 1;
    width: 100%;
}
.carrello-flex-container .breadcrumb{
    order: 2;
    width: 100%;
}

.carrello-flex-container .titolo-pagina{
    order: 3;
}
.carrello-flex-container .carrello-contenuto{
    margin-left: 1%;
    width: 70%;
    order: 4;
    display: inline;
}

.carrello-flex-container .subtotale{
    margin-right: 1%;
    width: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    order: 5;
}

.carrello-flex-container .footer{
    order: 6;
}

.carrello-item{
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: none;
}

.carrello-item .adm-bottone-elimina-card, .subtotale .adm-bottone-approva-recensione{
    width: 100%;
    margin: 0 auto;
}
.carrello-item h2, .carrello-item h3{
    display: inline;
}

.subtotale{
    background-color: #FFBA66;
    height: fit-content;
    text-align: center;
    padding-bottom: 1em;
}
.subtotale a{
    width: 100%;
}

.subtot-number{
    padding: 0.5em;
}

/* === PROCEDURA PAGAMENTO === */

.procedura-pagamento form{
    text-align: left;
    padding-bottom: 15em;
}
.procedura-pagamento label{
    margin: 1em 0 1em 0;
}
.procedura-pagamento input[type=radio]{
    width:2em;
    height:2em;
    vertical-align: middle;
    padding: 0 0 0 25%;
}

.riepilogo-contenuto{
    border: 2px solid #0a3150;
    width: 70%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;

    padding: 1em;
}
.riepilogo{
    margin: 0 0 1em 0;
}

.riepilogo span{
    padding-left: 0.5em;
}
.travel-order h3, .travel-order span, .riepilogo h3, .riepilogo span{
    display: inline;
}

.travel-order ul li{
    margin-bottom: 0.5em;
}

.travel-order .travel-image{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.travel-order{
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-color: #0a3150;
    border-style: solid;
}

.final-order .adm-bottone-approva-recensione{
    display: none;
}

.totale .adm-bottone-approva-recensione{
    display: block;
    text-align: center;
    width: 90%;
}
/* === FOOTER === */

.footer{
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: 0 -5px 5px -5px  rgba(0,0,0,0.16);
    vertical-align: top;
    min-width: 100%;
}


.footer h3{
    font-size    : 1.2em;
    margin-bottom: 0.5em;
}

.footer small {
    margin-bottom: 3em;
    font-size: 1em;
    width: 100%;
}

.footer-site-map{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.footer-menu ul {
    display: inline-flex;
    list-style: none;

}

.footer-menu ul li {
    margin    : 1em;
    text-align: center;
    display: block;
}
.footer-menu ul li a{
    text-align: center;
    min-width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    vertical-align: middle;
}
.footer-menu ul li a:hover{
    background-color: rgba(0, 0, 0, 0.21);
}

.navbar-social-icon{
    height: 20px;
    width: 20px;
}

.footer .footer-col{
    width: 45%;
    margin: 1em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.footer-col img{
    display: inline-block;
    vertical-align: middle;
}

/* === PAGE SELECTOR ===*/
.button-selector-page{
    font-size: larger;
    font-weight: 700;
    width: 2em;
    height: 2em;
    border: 2px solid #FF8C00;
    color: #FFD394;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0.2em;
    vertical-align: middle;
    text-align: center;
    background-color: #0a3150;
}

.button-selector-page:disabled{
    opacity: 0.6;
}

.button-selector-page:focus{
    outline: none;
    box-shadow: none;
}

.button-selector-page:disabled{
    cursor: auto;
}

.page-selector{
    width: 100%;
    background-color: #0a3150;;
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;   
}

/* === MAIN MENU === */
.main-menu {
    background-color: #FF8C00;
    width          : 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.24);
    min-height: 66px;
  }
  
  .main-menu ul {
      font-size      : 1em;
      float: right;
      background-color: #FF8C00;
  }
  
  .main-menu  ul li {
      list-style-type: none;
      margin         : 1em;
      display: inline-block;
  }
  
  .mm-logo{
    float: left;
    left: 0;
    height: 66px;
    background-color: #FF8C00;
  }
  
  .main-menu  .menuPage{
      padding         : 0.3em;
      padding-left    : 1em;
      padding-right   : 1em;
      border-radius: 5px;
      background-color: #fff;
      border-bottom: 3px solid #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 3px rgba(0,0,0,0.24);
      width: 100%;
  }
  
  .main-menu  .menuPageDisabled{
    padding         : 0.3em;
    padding-left    : 1em;
    padding-right   : 1em;
    border-radius: 5px;
    background-color: #fff;
    border-bottom: 3px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 3px rgba(0,0,0,0.24);
    width: 100%;
  }
  
  .main-menu  .menuPage:hover {
      border-bottom: 3px solid #0a3150;
      box-shadow: 0 6px 10px rgba(0,0,0,0), 0 6px 10px rgba(0,0,0,0.23);
  }
  

/* === MOBILE  MENU === */
.mm-hamburger{
    display: none;
  }
  .hide-menumobile{
    display: block;
  }
  .show-menumobile{
    display: block;
  }

@media only screen and (max-width: 1024px){
    .mm-logo{
      width: 5%;
    }
}

@media only screen and (max-width: 868px) {

    .main-menu{
        min-width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hide-menumobile{
      display: none;
    }

    .show-menumobile{
      display: inline-block;
    }


    .mm-item{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }


    .mm-logo{   
      width: 30%;
    }

    .mm-hamburger{
      background-color: #0a3150;
      margin-left: 1em;
      color:#fff;
      line-height: 90%;
      display: inline-flex;
      height: 60px;
      font-size: 4em;
      padding: 0 0.1em 0 0.1em;
      margin:3px;
      text-align: center;
      border-radius: 10px;
    }

    .mm-logo .logo{
      width: 100%;
      font-size: xx-large;
      vertical-align: top;
      margin-left: 1em;
      color: #fff;
      text-decoration: none;
      width: fit-content;
  }

    .main-menu  .menuPage{
        padding: 0;
        margin: 0 auto;
    }

    .main-menu  .menuPageDisabled{
      padding: 0;
      margin: 0 auto;
  }
  
    .main-menu ul{
        height:100%;
        width: 100%;
        background-color: #0a3150;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        width: 20%;
        padding-top: 1em;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

      .main-menu ul li{
        width: 90%;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 1em;
        min-height: 48px;
      }  

      .main-menu ul li a{
        display: inline-block;
        max-width: 90%;
        vertical-align: middle;
        margin: 0 auto;
        font-size: 30px;
      }   

      .main-menu ul li span{
        display: inline-block;
        max-width: 90%;
        vertical-align: middle;
        margin: 0 auto;
        font-size: 30px;
      } 

      .main-menu  .menuPage {
        border: 5px solid #0a3150;
      }  

      .main-menu  .menuPageDisabled {
        border: 5px solid #0a3150;
      } 

      .main-menu  .menuPage:hover {
        border: 5px solid #FF8C00;
      }   

      .main-menu ul li a:active{
        border-bottom: 3px solid #0a3150;
      }  

      /* === MENU ADM === */
      .board-menu .hide-menumobile{
        display: block;
      }
  
      .board-menu  .show-menumobile{
        display: block;
      }

      .board-menu .hide-menumobile{
        display: block;
      }
  
      .board-menu  .mm-hamburger{
        display: none;
      }

}
@media only screen and (max-width: 768px){

    body, html, nav{
        margin:0;
        padding:0;
        min-width: 100%;
        height: auto;
    }

    label{
        display: block;
    }

    li, a, input, .input, .input-date, select, option{
        min-height: 48px;
    }

    .footer{
        height: 100vh;
    }
    /* === SEARCH BOX === */

    .form-search span{
        text-align: center;
        font-size: xx-large;
        display: block;
        width: 100%;
    }

    .search-label input{
        width: 100%;
    }
    
    .search-label,.search-submit-field, .search-input-field{
        width: 100%;
        text-align: center;
    }
    .search-key{
        margin: 0 auto;
        margin-bottom: 1em;
        min-width: 85%;
    }


    /* ===  ACCEDI, REGISTRATI   === */
    .form-registrazione{
        width: 80%;
    }
    .form-registrazione .input{
        width: 100%;
    }

    /* === PROFILO ===*/

    .form-registrazione fieldset{
        display: block;
        padding: 0;
        padding-top: 1em;
        width: 95%;
    }

    .form-registrazione input{
        margin: 0 auto;
        width: 80%;
    }

    .form-registrazione label, .form-registrazione h3{
        display: block;
    }

    .form-registrazione span{
        margin-left: 1em;
    }
    .form-registrazione li{
        margin-bottom: 1em;
    }

    .form-registrazione .input, .form-registrazione .input-date{
        padding: 0.2em;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 1em;
    }

    /* === FORM AMMINISTRAZIONE === */

    .dash-form{
        margin: 0;
        margin-bottom: 3em;
        padding: 0;
        width: 95%;
    }

    .dash-form fieldset{
        width: 100%;
        text-align:center;
        margin: 0;
        padding: 0.5em;
    }

    .dash-form ul{
        width: 100%;
        text-align:left;
        margin: 0;
        padding: 0;
    }

    .dash-form ul li{
        padding: 0;
    }

    .dash-form .input-date{
        margin: 0;
    }

    .dash-form .input[type="text"], .dash-form textarea{
        padding-left: 1em;
    }

    /* == SEARH BOX == */
    .filtri{
        width: 100%;
    }

    /* === AMMINISTRAZIONE === */

    .board-contenuto .dash-form fieldset{
        margin: 0.5em;
        width: 95%;
    }

    .board-contenuto .dash-form label{
        text-align: left;
        display: block;
        margin: 0;
    }

    .board-contenuto .form-search{
        margin-bottom: 1em;
    }

    .board-contenuto .adm-card{
        height: auto;
    }

    .board-contenuto .menu-dash-element{
        display: block;
    }

    /* === TRAVELS LIST === */

    .travel-list-item{
        min-width: 80%;
        padding: 0.5em;
    }

    .travel-page-content{
        width: 100%;
        margin: 0 auto;
    }


    /* === TRAVEL LIST ITEM === */
    .travel-image{
        height: 150px;
    }

    
    /* === TRAVEL DETAILS  === */

    .travel-details-container {
        display         : inline-flex;
        flex-direction  : column;
        flex-wrap       : wrap;    
        justify-content : space-between;
        align-items     : center;
        width           : 100%;
        height          : 50%;
        margin          : 0 auto;
        margin-top      : 0.5em;
        text-align      : center;
    }
    
    .travel-details-container .main-img{
        width           : 95%;
    }
    
    .travel-details-container .travel-details-info {
        min-width: 95%;
    }
    
    .travel-details-container h1{
        margin-bottom   : 0.5em;
    }

    .travel-details-container h2{
        text-align: center;
    }

    .travel-details-container .complete-desc{
        width           : 95%;
    }
    
    
    .travel-details-container .price{
        width: 50%;
    }

    .travel-details-container .travel-details-icon{
        display: none;
    }       


    /* === TRAVEL REVIEWS === */
    .reviews{
        width: 98%;
    }

    /* === TRAVEL RELATED === */
    .related-travels .travels-list{
        justify-content: center;

    }

    .related-travels h2{
        text-align:  center;
    }
    
    /* === PROFILO ===*/

    .profilo-flex-container{
        justify-content: center;
    }

    .profilo-menu{
        width: 100%;
        padding-top: 3em;
    }

    .profilo-contenuto,
    .profilo-contenuto fieldset{
        width: 95%;
        margin: 0 auto;

    }

    .profilo-contenuto form{ 
        min-width: 100%;
        margin: 0 auto;
        margin-bottom: 3em;
    }

    /* === CARRELLO === */

    .carrello-flex-container{
        margin: 0 auto;
        flex-flow: column;
    }

    .carrello-flex-container .carrello-contenuto{
        width: 100%;
        order: 4;
        display: inline;
    }

    .carrello-flex-container .subtotale{
        padding: 1em 0 1em 0;
        margin: 0 auto;
        margin-top: 1em;
        width: 95%;
        order: 3;
    }

    .carrello-flex-container .subtotale .adm-bottone-approva-recensione{
        width: 90%;
        padding: 0 1em 0 1em;
    }

    /* === AMMINISTRAZIONE === */
    .board-flex-container .mm-item a{
        display: none;
    }

    .board-flex-container .mm-item img{
        height: 80px
    }

    .board-flex-container .footer{
        height: 35vh;
    }   

    .content-search-box div label{
        display: flex;
        flex-direction: column;
    }

    .content-search-box div label input{
        width: 85%;
    }

    .content-search-box{
        padding: 15px;
    }

}

@media only screen and (max-width: 480px){
    .response-img{
        width: 100%;
        height: 100%;

    }

}

/*BUTTON torna su*/
#UpArrow {
    background-image: url(../img/up-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
    position: fixed;
    white-space:nowrap;
    overflow:hidden;
    text-indent:100%;
    right: 1em; 
    bottom: 1em;
    width: 4em; 
    height: 4em;
    
}

.hide {
    display: none; 
}


/*LINK FONT UPPER*/
.upper_link{
    font-size: 1em;
}

/*Error page*/

#contenutoErrorPage{
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
}

#contenutoErrorPage img{
    width           : 50%;
    max-height      : 60vh;
    border-radius: 30%;
    margin: 2em;
}

/*Valutazione inserimento review*/
.radio_valutazione{
    display: inline-flex;
}
.radio_valutazione > label{
    margin: 1em;
}