<div class="travel_details">
    <div class="elevator_pitch" style="display: flex; flex-direction: row;">
        
        <img src="https://cdn-static.dagospia.com/img/patch/12-2017/gianni-morandi-con-la-zizzona-di-battipaglia-970741.jpg" alt="Italian Trulli" style="padding: 20px">
        
        <div class="main_infos">
            <h1>%NAME%</h1>
            <ul>
                <li><h2>%PRICE%</h2></li>
                <li>Breve riassunto del viaggio: Hic dolorem temporibus voluptas id voluptatibus vitae. Dignissimos omnis voluptas neque veritatis. Vero aut corrupti non unde sapiente autem.</li>
                <li>Dove: %COUNTRY%, %CITY% - %LOCATION%</li>
                <li>Data partenza: %START_DATE%</li>
                <li>Data ritorno: %END_DATE%</li>
            </ul>

            <button>Aggiungi al carrello</button>
        </div>

    </div>

    <div class="complete_informations">
        <span class="descrizione">
            %DESCRIPTION%
        </span>
        <button>Aggiungi al carrello</button>
    </div>
</div>