<li class="adm-card">
    <h2>Recensione #%ID% : %TITOLO%</h2>
    <h3>Data rilascio:</h3><span>%DATA% </span><br>
    <h3>Valutazione: </h3> <span>%VALUTAZIONE% su 5 </span><br>
    <h3>Generalità scrittore:</h3> <span>%NOME_UTENTE%</span> <span>%COGNOME_UTENTE%</span><br>
    <h3>Contenuto :</h3> <span>%DESCRIZIONE%</span><br>
    <div class="adm-bottoni-recensione">
        <div class="adm-card-rev">
            <form action="/admin/moderazione_recensioni.php" method="post">
                <input type="hidden" name="id_review" id="id_review" value="%ID%">

                <input type="submit" class="adm-bottone-approva-recensione" name="btn_approva"
                id="btn_approva" value="APPROVA" >

                <input type="submit" class="adm-bottone-elimina-recensione" name="btn_elimina"
                id="btn_elimina" value="ELIMINA" onclick="return ConfermaEliminazione()">
            </form>
        </div>
    </div>
</li>