<li class="adm-card">
    <h2>Viaggio #%ID% : %TRAVEL_TITLE%</h2>
    <h3>Descrizione breve:</h3> <span>%TRAVEL_DESCRIPTION%</span> <br>
    <h3>Prezzo:</h3> <span>%TRAVEL_PRICE% Euro</span> <br>
    <h3>Date:</h3> <span>%TRAVEL_START_DATE% - %TRAVEL_END_DATE%</span><br>
    <div class="adm-bottoni-gestione">
        <form action="/admin/form_modifica.php" method="get" class="adm-form-card">
            <input type="hidden" name="par_id" id="par_id" value="%ST%">
            <input type="submit" class="adm-bottone-modifica-card" name="modifica" id="modifca"
                value="MODIFICA">
        </form>
        <form action="/admin/landing_form_eliminazione.php" method="get" class="adm-form-card"
            onsubmit="return ConfermaEliminazione()">
            <input type="hidden" name="par_id" id="par_id" value="%ST%">
            <input type="submit" class="adm-bottone-elimina-card" name="elimina" id="elimina" value="ELIMINA">
        </form>
    </div>
</li>