<style>
#menu_dashboard{
    background-color: #c53020;
    height: 100%;
    padding: 1em;
}

</style>

<div id="menu_dashboard">

    <ul id="lista_menu" title="Menu di amministrazione">
        <a href="/adm_form_inserimento.php">
            <li class="menu_dash_element">
                INSERISCI VIAGGIO
            </li>
        </a>

        <a href="/adm_search.php">
            <li class="menu_dash_element">
                GESTISCI VIAGGI
            </li>
        </a>

        <a href="/adm_integrazione_inserimento.php">
            <li class="menu_dash_element">
                INSERISCI INTEGRAZIONI
            </li>
        </a>

        <a href="/adm_integrazioni.php">
            <li class="menu_dash_element">
                GESTISCI INTEGRAZIONI
            </li>
        </a>

        <a href="/adm_moderazione_recensioni.php">
            <li class="menu_dash_element">
                MONDERA INTEGRAZIONI
            </li>
        </a>
    </ul>

</div>