<h1 class="adm-titolo">INSERIMENTO VIAGGIO</h1>

<form action='/admin/landing_form_inserimento.php' method="POST" class="dash-form" id="form_inserimento_viaggio" onsubmit="return (conferma() && validationData() && validationPrz())">
          <fieldset id="fieldTitoloDescrizioni">
               <legend>Titolo e descrizioni</legend>

               <label for="titolo"><strong>TITOLO DEL VIAGGIO</strong>
                    <input type="text" class="input" tabindex="1" id="titolo" name="titolo" required="required" placeholder="Inserisci titolo" value="%TITOLO%" autocomplete="off"><br>
               </label><br>
               <p id="input_error_titolo" class="p_input_error"> testo errore </p>

               <label for="descrizione"><strong>DESCRIZIONE DETTAGLIATA</strong>
                    <textarea class="input" tabindex="2" id="descrizione" name="descrizione" placeholder="Inserisci descrizione dettagliata" rows='10' cols='50' form='form_inserimento_viaggio'>%DESCRIZIONE%</textarea> 
               </label><br>
               <p id="input_error_descrizione" class="p_input_error"> testo errore </p>

               <label for="descrizionebreve"><strong>DESCRIZIONE BREVE</strong>
                    <textarea class="input" tabindex="3" id="descrizionebreve" name="descrizionebreve" placeholder="Inserisci descrizione breve" rows='3' cols='50' form='form_inserimento_viaggio'>%DESCRIZIONEBREVE%</textarea> 
               </label><br>
               <p id="input_error_descrizione_breve" class="p_input_error"> testo errore </p>
          </fieldset>

          
          <fieldset id="fieldInfoGeografiche">
               <legend>Informazioni geografiche del viaggio</legend>

               <label for="stato"><strong>STATO</strong>
                    <input type="text" class="input" tabindex="4" id="stato" name="stato"  placeholder="Inserisci stato" autocomplete="off" value="%STATO%"><br>
               </label><br>
               <p id="input_error_stato" class="p_input_error"> testo errore </p>
     
               <label for="citta"><strong>CITTA</strong>
                    <input type="text" class="input" tabindex="5" id="citta" name="citta" placeholder="Inserisci città" autocomplete="off" value="%CITTA%"><br>
               </label><br>
               <p id="input_error_citta" class="p_input_error"> testo errore </p>
     
               <label for="localita"><strong>LOCALITA</strong>
                    <input type="text" class="input" tabindex="6" id="localita" name="localita" placeholder="Inserisci localita" autocomplete="off" value="%LOCALITA%">
               </label><br>
               <p id="input_error_localita" class="p_input_error"> testo errore </p>
          </fieldset>


          <fieldset class="fieldDate">
               <legend>Date temporali del viaggio</legend>

               <label for="datainizio"><strong>DATA INIZIO VIAGGIO</strong>
               <input type="date" class="input input-date" tabindex="7" name="datainizio" id="datainizio" onblur="validationData()" required="required" value="%DATAINIZIO%"> 
               </label>

               <label for="datafine"><strong>DATA FINE VIAGGIO</strong>
                    <input type="date" class="input input-date" tabindex="8" name="datafine" id="datafine" onblur="validationData()" required="required" value="%DATAFINE%">
               </label>

               <p id="input_error_datafine" class="p_input_error"> testo errore </p>
          </fieldset>

          <fieldset id="fieldPrezzo">
               <legend>Prezzo e immagini da allegare</legend>

               <div class="miscellanea">
                    <label for="prezzo"><strong>PREZZO</strong>
                         <input type="number" class="input" tabindex="9" id="prezzo" name="prezzo" placeholder="Inserisci un prezzo"  onblur="validationPrz()" min="0" required="required" value="%PREZZO%">
                    </label><br>
                    <p id="input_error_prezzo" class="p_input_error"> testo errore </p>
               </div>
               
               <div class="miscellanea">
                    <label for="immagini"><strong>INSERISCI IMMAGINI</strong>
                         <input type="file" class="input input-file" tabindex="10" id="immagini" accept="image/*" multiple="multiple" name="immagini" required="required">
                    </label>
                    <p id="input_error_immagini" class="p_input_error"> testo errore </p>
               </div>
          </fieldset>

     
        <fieldset>
          <legend>Tag e integrazioni</legend>

          <div class="miscellanea">

               <ul class="TagList" tabindex="11" title="lista dei tag">
                    <CHECKBOX_TAG/>
               </ul>
               
               <!--<input class="bottoneform add-tag" type="button" id="addTag" name="addTag" value="INSERISCI TAG" onClick="aggiungiTag()">
               <p id="input_error_tags" class="p_input_error"> </p>

                    <label for="integrazioni"><strong>SEGLI INTEGRAZIONI</strong></label>
                    <div class="checkbox-integrazioni" id="checkboxIntegrazioniFormViaggio">
               -->
          </div>
        </fieldset>

     <input type="hidden" name="id" id="id" value="%ID%">

     <input class="btn-submit bottoneform" tabindex="12"type="submit" id="submitForm" value="INVIA">
     <input class="btn-reset bottoneform" tabindex="13" type="reset" id="resetForm" value="CANCELLA CONTENUTO FORM">

</form>