<li class="adm-card">
    <h2>Viaggio numero %ID% : %TRAVEL_TITLE%</h2>
     <div><h3>Descrizione breve:</h3> <span>%TRAVEL_DESCRIPTION%</span>  </div>
     <div><h3>Prezzo:</h3> <span>%TRAVEL_PRICE% Euro</span> </div>
     <div><h3>Date:</h3> <span>%TRAVEL_START_DATE% - %TRAVEL_END_DATE%</span> </div>
    <div class="adm-bottoni-gestione">
        <form action="./adm_form_modifica.php" method="get" class="adm-form-card">
            <input type="hidden" name="par_id" value="%ST%">
            <input type="submit" class="adm-bottone-modifica-card" name="modifica" value="MODIFICA" title="modifica viaggio %TRAVEL_TITLE%">
        </form>
        <form action="./adm_landing_form_eliminazione.php" method="get" class="adm-form-card"
            onsubmit="return ConfermaEliminazione()">
            <input type="hidden" name="par_id" value="%ST%">
            <input type="submit" class="adm-bottone-elimina-card" name="elimina" value="ELIMINA" title="elimina viaggio %TRAVEL_TITLE%">
        </form>
    </div>
</li>