<div id="content-dash">
    <h1 class="adm-titolo"><strong>%TYPE% INTEGRAZIONE</strong></h1>
    <form action='./adm_landing_integrazione_inserimento.php' method="POST" class="dash-form" id="form_inserimento_integrazione">
         
         <fieldset>
              <legend>Titolo e descrizione</legend>
              <label for="titolo_integrazione">Titolo dell'integrazione</label><br>
              <input type="text" class="input" id="titolo_integrazione" name="titolo_integrazione" required="required" placeholder="inerisci il nome dell'integrazione" value="%TITOLO%" autocomplete="off"><br>
              <p id="input_error_titolo" class="p_input_error"> testo errore </p>

              <label for="descrizione_integrazione">Descrizione</label><br>
              <textarea class="input" id="descrizione_integrazione" name="descrizione_integrazione" placeholder="inerisci descrizone dettagliata" rows='10' cols='50' form='form_inserimento_integrazione'>%DESCRIZIONE%</textarea> 
              <p id="input_error_descrizione" class="p_input_error"> testo errore </p>
         </fieldset>
         
         <fieldset>
            <legend>Prezzo e durata</legend>
            <label for="prezzo">Prezzo</label><br>
            <input type="number" class="input" id="prezzo" name="prezzo" onblur="validationPrz()" required="required" placeholder="inerisci il prezzo dell'integrazione" value="%PREZZO%" autocomplete="off" min="0"><br>
            <p id="input_error_prezzo" class="p_input_error"> testo errore </p>

            <label for="durata_integrazione">Durata (in minuti)</label><br>
            <input type="number" class="input" id="durata_integrazione" name="durata_integrazione"  onblur="validationDurata()" required="required" placeholder="inerisci la durata in minuti dell'integrazione" value="%DURATA%" autocomplete="off" min="1"><br>
            <p id="input_error_durata" class="p_input_error"> testo errore </p>
       </fieldset>

        <input type="hidden" name="id_integrazione" id="id_integrazione" value="%ID%">
        <input class="btn-submit bottoneform" type="submit" id="submitForm" value="INVIA">
        <input class="btn-reset bottoneform" type="reset" id="resetForm" value="RESET">

    </form>
</div>