<script>
     fetch('/html/components/checkboxIntegrazioniFormViaggio.php', { method: 'POST' })
     .then(data => data.text())
     .then(
          function (data) {
               //console.log(data);
               document.getElementById('checkboxIntegrazioniFormViaggio').innerHTML = data;
          }
     )

</script>
<style>
form{
    border-color: #c53020;
    background-color:#fff;
    color: #c53020;
    font-family: 'Roboto', sans-serif;
    width: 65%;
    margin:auto;
}

input[type=text], input[type=number], textarea{
    background-color:#E9EBEE;
    width: 95%;
    padding: 12px 20px 10px 10px;
    margin: 5px 0;
    border: 0px;
    border-bottom: 1px solid #c53020;
    font-family: 'Roboto', sans-serif;
    resize: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type=number]{
    -moz-appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

    opacity: 0;
}

  
input[type=text]:hover, input[type=number]:hover, textarea:hover{
    border-bottom: 2px solid #c53020;
}

input[type=text]:active, input[type=number]:active, textarea:active{
    outline: none;
    box-shadow: none;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus{
    outline: none;
    box-shadow: none;
}

.p_input_error{
    visibility: hidden;
}

.bottoneform{
    border-radius: 5px;
    color:#fff;
    background-color: #c53020;
    border: 3px solid #c53020;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 30px;
}
 
.bottoneform:hover{
    background-color: #9C2619;
    border: 3px solid #9C2619;
    border-radius: 5px;
    color: #fff
}

.bottoneform:active{
    outline: none;
    box-shadow: none;
}

.bottoneform:focus{
    outline: none;
    box-shadow: none;
}


#bottoniSubmitReset{
    width: 75%;
    text-align: center;
}

.date{
    display: inline-block;
    text-align: center;
    width: 40%;
}

fieldset
{
    padding-top: 10px;
    border-color: #c53020;
    margin-bottom: 20px;
    width: 95%;
    margin:auto;
    margin-bottom: 1em;
    padding: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#fieldDate{
    text-align: center;
}

legend{
    text-align: center;
}


input[type=date]{
    border-color: #c53020;
    border: 2px solid #c53020;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type="file"]{
    border: 2px solid #c53020;
    border-radius: 5px;
    color:#c53020;
    background-color: #fff;
    padding: 30px;
}

#bottoniSubmitReset{
    text-align: center;
    width: 100%;
}
#submitForm{
    width: 80%;
    text-align: center;
}
#resetForm{
    width: 19%;
}

input[type=checkbox]{
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

#addTag{
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

#tagInseriti{
    display: inline-block;
}

#checkboxIntegrazioniFormViaggio{
    margin-top: 5px;
}

#submitForm{
    font-size: medium;
    cursor: pointer;
}

#resetForm{
    font-size: medium;
    cursor: pointer;
}

</style>
<div id="content">
     <h1 class="adm-titolo"><strong>INSERISCI VIAGGIO</strong></h1>
     <form action='./adm_landing_form_inserimento.php' method="POST" id="form_inserimento_viaggio" onsubmit="return conferma()">
          
          <fieldset id="fieldTitoloDescrizioni">
               <legend>Titolo e descrizioni</legend>
               <label for="titolo"><strong>TITOLO DEL VIAGGIO</strong></label><br>
               <input type="text" id="titolo" name="titolo" required="required" placeholder="inerisci titolo" value="%TITOLO%" autocomplete="off"><br>
               <p id="input_error_titolo" class="p_input_error"> testo errore </p>

               <label for="descrizione"><strong>DESCRIZIONE DETTAGLIATA</strong></label><br>
               <textarea id="descrizione" name="descrizione" placeholder="inerisci descrizone dettagliata" rows='10' cols='50' form='form_inserimento_viaggio'>%DESCRIZIONE%</textarea> 
               <p id="input_error_descrizione" class="p_input_error"> testo errore </p>

               <label for="descrizioneBreve"><strong>DESCRIZIONE BREVE</strong></label><br>
               <textarea id="descrizioneBreve" name="descrizioneBreve" placeholder="inerisci descrizone breve" rows='3' cols='50' maxlength="1024" form='form_inserimento_viaggio'>%DESCRIZIONEBREVE%</textarea> 
               <p id="input_error_breve" class="p_input_error"> testo errore </p>
          </fieldset>

          
          <fieldset id="fieldInfoGeografiche">
               <legend>Informazioni geografiche del viaggio</legend>
               <label for="stato"><strong>STATO</strong></label><br>
               <input type="text" id="stato" name="stato"  placeholder="inerisci stato" autocomplete="off" value="%STATO%"><br>
               <p id="input_error_stato" class="p_input_error"> testo errore </p>
     
               <label for="citta"><strong>CITTA</strong></label><br>
               <input type="text" id="citta" name="citta" placeholder="inerisci citta" autocomplete="off" value="%CITTA%"><br>
               <p id="input_error_citta" class="p_input_error"> testo errore </p>
     
               <label for="localita"><strong>LOCALITA</strong></label><br>
               <input type="text" id="localita" name="localita" placeholder="inerisci localita" autocomplete="off" value="%LOCALITA%"></label><br>
               <p id="input_error_localita" class="p_input_error"> testo errore </p>
          </fieldset>


          <fieldset id="fieldDate">
               <legend>Date temporali del viaggio</legend>
               <div class="date" id="divDataInizio">
                    <label for="datainizio"><strong>DATA INIZIO VIAGGIO</strong></label><br>
                    <input type="date" id="datainizio" name="datainizio" required="required" value="%DATAINIZIO%"><br> 
               </div>    
               
               <div class="date" id="divDataFine">
                    <label for="datafine"><strong>DATA FINE VIAGGIO</strong></label><br>
                    <input type="date" id="datafine" name="datafine" required="required" value="%DATAFINE%"><br>
               </div>
               <p id="input_error_datafine" class="p_input_error"> testo errore </p>

          </fieldset>

                <fieldset id="fieldPrezzo">
                    <legend>Prezzo e Immagini da allegare</legend>

                    <div class="miscellanea">
                        <label for="prezzo"><strong>PREZZO</strong></label><br>
                        <input type="number" id="prezzo" name="prezzo" placeholder="inserisci un prezzo" min="0" required="required" value="%PREZZO%">
                        <p id="input_error_prezzo" class="p_input_error"> testo errore </p>
                    </div>


                        <div class="miscellanea">
                        <label for="immagini"><strong>INSERISCI IMMAGINI</strong></label><br>
                        <input type="file" class="bottoneform" id="immagini" accept="image/*" multiple="multiple" name="immagini" required="required"><br>
                        <p id="input_error_immagini" class="p_input_error"> testo errore </p>
                    </div>
                </fieldset>


        <fieldset>
            <legend>Tag e integrazioni</legend>

            <div class="miscellanea">
                <label for="tagList"><strong>SCEGLI TAG</strong></label><br>
                <input type="text" list="tagList" placeholder="scegli un tag dalla lista" id="addTagAutocomplete">
                    <datalist id="tagList"></datalist>
                <input class="bottoneform" type="button" id="addTag" name="addTag" value="INSERISCI TAG" onClick="aggiungiTag()">
                <p id="tagInseriti">Tag inseriti: </div>
                <input type="hidden" value="" name="tagDaInviare" id="tagDaInviare" />
                <p id="input_error_tags" class="p_input_error"> </p>

                <label for="integrazioni"><strong>SEGLI INTEGRAZIONI</strong></label>
                <div id="checkboxIntegrazioniFormViaggio">
                </div>
        </fieldset>

        <input type="hidden" name="id" id="id" value="%ID%">

        <fieldset>
            <legend>Invio form, reset campi form</legend>
            <input class="bottoneform" type="submit" id="submitForm" value="INVIA">
            <input class="bottoneform" type="reset" id="resetForm" value="RESET">
        </fieldset>

     </form>


</div>