<div class="carrello-item">
        <a href="travel.php?id=%ID_VIAGGIO%"><h2>%NAME%</h2></a>
        <p><h3>Prezzo</h3>: %PRICE% &euro; </p>
        <p><h3>Luogo</h3>: %COUNTRY%, %CITY%, %LOCATION%</p>
        <p><h3>Date</h3>: dal %START_DATE% al %END_DATE%</p>
        <form action="/carrello.php" method="post">
            <input type="hidden" name="id_viaggio" id="id_viaggio" value="%ID_VIAGGIO%">

            <input type="submit" class="adm-bottone-elimina-card" name="btn_elimina" id="btn_elimina" value="Rimuovi dal carrello">
        </form>
</div>