
<h1 class="titolo-pagina">Riepilogo dati personali</h1>

<form action='./eliminazione_profilo.php' class="dash-form form-registrazione" onsubmit="return clicked()">
    <fieldset>
        <legend class="aiuti_alla_navigazione">Dati personali utente</legend>
        <ul>
            <li>
                <h3><strong>Username: </strong></h3> <span>%USERNAME%</span>
            </li>

            <li>
                <h3><strong>Email: </strong></h3> <span>%EMAIL%</span>
            </li>

            <li>
                <h3><strong>Username: </strong></h3> <span>%USERNAME% </span>
            </li>

            <li>
                <h3><strong>Nome: </strong></h3> <span>%NOME% </span>
            </li>

            <li>
                <h3><strong>Cognome: </strong></h3><span>%COGNOME% </span>
            </li>

            <li>
                <h3><strong>Data di nascita: </strong></h3> <span>%DATA_NASCITA% </span>
            </li>

        </ul>
      
   
   
    <div>
        <input type="button" class="adm-bottone-modifica-card" onclick="location.href='/form_modifica_info_profilo.php';" value="Modifica Dati" />
        <input type ="button" class="adm-bottone-modifica-card" onclick="location.href='/form_modifica_psw.php';" value = "Modifica Password"/>
        <input type="button" class="adm-bottone-elimina-card" id="submit" value="Elimina Profilo &#128542;">
    </div>
    </fieldset>
</form>