<h1 class="titolo-pagina">Profilo</h1>
<h2 class="titolo-pagina">Elimina profilo</h2>
<div id="form-metodo-pagamento">
    <form action="./eliminazione_profilo.php" class="dash-form form-registrazione" method="post">
        <fieldset>
            <legend>Vuoi davvero davvero eliminare il tuo profilo?</legend>

            <p>Ci renderai tristi e piangeremo...</p>

            <input type="submit" class="adm-bottone-modifica-card" tabindex="3" name="submit" value="Si, voglio eliminare il profilo" />
        </fieldset>
    </form>
</div>