<h1 class="titolo-pagina">Elimina profilo</h1>
<div id="form-metodo-pagamento">
    <form action="./eliminazione_profilo.php" class="dash-form form-registrazione" method="post">
        <fieldset>
            <legend>Vuoi davvero davvero eliminare il tuo profilo????</legend>

            <p>Ci renderai tristi e piangeremo :(</p>
            <p>Tutte le nostre lacrime :( :(</p>

            <input type="submit" class="adm-bottone-modifica-card" tabindex="3" name="submit" value="Si vi odio">
        </fieldset>
    </form>
</div>