<footer>
    <FOOTERSITEMAP/>

    <ul id="Contatti">
        <li xml:lang="en">flyweb@gmail.com</li>
        <li>3338989987</li>
        <li>Padova, Via da decidere</li>
    </ul>

    <ul id="Social">
        <li><a href="link"><img id="InstagramFooterImg" src="img/instagram.svg" alt="Fotocamera stilizzata (icona di Instragram)"/>Instagram</a></li>
        <li><a href="link"><img id="FacebookFooterImg" src="img/facebook.svg" alt="Lettera F su sfondo blu (icona di Facebook)"/>Facebook</a></li>
    </ul>

    <div id="NoteLegali">
        <h1>FlyWeb</h1>
        <p>&copy; 2020-2021. Tutti i diritti riservati</p>
    </div>
</footer>