<footer class="footer">
    <div class="footer-menu">
        <FOOTERSITEMAP />
    </div>
    <div class="footer-col">
        <h3>Contatti</h3>
            <span xml:lang="en">Email: </span>
            <a xml:lang="en" href="mailto:flyweb@gmail.com" target="_blank" rel="noopener me"
                    title="Email">flyweb@gmail.com</a>
            <p>
                <span>Telefono: </span>
                <span >3338989987</span>
            </p>
            <p>
                <span>Indirizzo: </span>
                <span>Padova, Via da decidere</span>
            </p>
    </div>

    <div class="footer-col">
        <h3 xml:lang="en">Social</h3>
            <a xml:lang="en" href="link">
                <img class="navbar-social-icon" src="/img/instagram.svg" alt="Fotocamera stilizzata (icona di Instragram)" />
                    <span>Instagram</span>
            </a>
            <br>
            <a xml:lang="en" href="link">
                <img class="navbar-social-icon" src="/img/facebook.svg" alt="Lettera F su sfondo blu (icona di Facebook)" />
                <span>Facebook</span>
            </a>
    </div>

    <div class="footer-col pie">
        <small>
            Flyweb &copy; 2020-2021. Tutti i diritti riservati.
        </small>
    </div>

</footer>