<footer class="footer">
    <a href="#breadcrumb" class="aiuti-alla-navigazione">Ritorna al contenuto senza procedere nel <span lang="en">footer</span></a>
    <div class="footer-menu">
        <FOOTERSITEMAP />
    </div>
    <div class="footer-col">
        <h3>Contatti</h3>
            <address>
                <span lang="en">Email:
                <a class="email" lang="en" title="Email">
                    <strong>flyweb@gmail.com</strong>
                </a></span>
                <p>
                    <span>Telefono: </span>
                    <span class="tel"><strong>333 898 9987</strong></span>
                </p>
                <p>
                    <span>Indirizzo: </span>
                    <span class="adr"><span class="locality">Padova</span>, <span class="street-address">Via delle Rose 88</span></span>
                </p>
            </address>
    </div>

    <div class="footer-col">
        <h3 lang="en">Social</h3>
            <img alt="" role="presentation" role="presentation" class="navbar-social-icon" src="./img/instagram.svg" />

            <a lang="en" href="https://www.instagram.com" rel="external" target="_blank">
                    <span>Instagram <span class="aiuti-alla-navigazione">(apre nuova finestra)</span> </span>
            </a>
            <br/>
            <img alt="" role="presentation" class="navbar-social-icon" src="./img/facebook.svg" />

            <a lang="en" href="https://www.facebook.com" rel="external" target="_blank">
                <span>Facebook <span class="aiuti-alla-navigazione">(apre nuova finestra)</span></span>
            </a>
    </div>

    <div class="footer-col pie">
        <small>
            <span lang="en"> Flyweb</span> &copy; 2020-2021. Tutti i diritti riservati.
        </small>
    </div>

</footer>