<div class="inserimento-recensione">
    <ERROR_BOX/>

    <form action='./inserimento_recensione.php' method="POST" class="dash-form form-registrazione" id="form_insert_review" onsubmit="return (valutazioneRecensione() && titoloEDescrizioneRecensione('input_error_titolo','titolo') && titoloEDescrizioneRecensione('input_error_descrizione','descrizione'))">
        <fieldset>
            <legend>Inserisce una recensione per %TITOLO_VIAGGIO%</legend>

            <label for="lingua">Selezione la lingua della recensione:
                <select name="lingua" id="lingua">
                    <option value="sq">Albanese</option>
                    <option value="ca">Catalano</option>
                    <option value="zh">Cinese (Mandarino)</option>
                    <option value="en">Inglese</option>
                    <option value="fr">Francese</option>
                    <option value="de">Tedesco</option>
                    <option value="hu">Ungherese</option>
                    <option value="it" selected="selected">Italiano</option>
                    <option value="ja">Giapponese</option>
                    <option value="ko">Coreano</option>
                    <option value="pt">Portoghese</option>
                    <option value="ru">Russo</option>
                    <option value="es">Spagnolo</option>
                  </select>
            </label>
            

            <label for="titolo">Titolo recensione:</label>
            <textarea class="input" tabindex="1" name="titolo" id="titolo" placeholder="Inserisci qua il titolo" required="required" autocomplete="off" onblur="titoloEDescrizioneRecensione('input_error_titolo','titolo')">%TITOLO%</textarea>
            
            <p id="input_error_titolo" class="p_input_error"> testo errore </p>

            <label for="descrizione">Scrivi qui il contenuto:</label>
            <textarea name="descrizione" class="input" tabindex="2" placeholder="Inserisci qua la tua recensione" id="descrizione" maxlength="5000" rows='10' cols='50'  required="required" autocomplete="off" onblur="titoloEDescrizioneRecensione('input_error_descrizione','descrizione')">%DESCRIZIONE%</textarea>
            <p id="input_error_descrizione" class="p_input_error"> testo errore </p>

            <label for="Valutazione">Valutazione:</label>            
            <div class="radio_valutazione">
                <label for="0">
                    <input type="radio" tabindex="3" name="Valutazione" id="0"  value="0" /> 0
                </label>
                <label for="1">
                    <input type="radio" tabindex="4"  name="Valutazione" id="1" value="1" /> 1
                </label>
                <label for="2">
                    <input type="radio" tabindex="5" name="Valutazione" id="2" value="2" /> 2
                </label>
                <label for="3">
                    <input type="radio" tabindex="6" name="Valutazione" id="3" value="3" /> 3
                </label>
                <label for="4">
                    <input type="radio" tabindex="7" name="Valutazione" id="4" value="4" /> 4
                </label>
                <label for="5">
                    <input type="radio" tabindex="8" name="Valutazione" id="5" value="5" required="required" /> 5
                </label>
            </div>
            <p id="input_error_valutazione" class="p_input_error"> testo errore </p>

            <input type="hidden" name="id_viaggio" id="id_viaggio" value="%ID_VIAGGIO%" />

            <input type="submit" class="adm-bottone-modifica-card" tabindex="4" id="submit" value="invia" />
        </fieldset>
    </form>

</div>