<div id="content">
    <form  method="POST" name="form_paypal" id="form_paypal" >
        <fieldset>
            <legend>Inserisci la tua mail associata a Paypal</legend>

            <div id="emailPaypal">
                <label for="emailPaypal">Email associata a Paypal: </label>
                <input type="text" name="emailPaypal" id="emailPaypal" required="required"><br/>
            </div>

            <div>    
            <input class="bottone" type="submit" id="submit" value="Avanti">
            </div>

        </fieldset>
    </form>
</div>