
<div>
    <!-- <input type="button" value="Indietro" onClick="javascript:history.back()" name="button"> -->
    <h1 class="titolo-pagina">Modifica Password</h1>
    <form action="./landing_modifica_psw.php" method="post" class="dash-form form-registrazione">
        <fieldset>
            <legend class="aiuti_alla_navigazione">Modifica la tua password</legend>
            
           <label for ="password_corrente" lang ="en"> Password corrente: </label>
            <input type="password" class="input" name ="password_corrente" id="password_corrente"> <br> 

            <label for="nuova_password" lang="en">Nuova Password</label>
            <input type="password" class="input" name="nuova_password" id="nuova_password"   /><br>

            <label for="password_ripetuta" lang="en">Ripeti Nuova Password</label>
            <input type="password" class="input" name="password_ripetuta" id="password_ripetuta" /><br>
            
                <input class="adm-bottone-modifica-card" type="submit" id="submit" value="Salva">
                <input class="adm-bottone-modifica-card" type="reset" id="resetForm" value="Reset">
            
        </fieldset>
    </form>
    
</div>