<h1 class="titolo-pagina">Inserimento carta di credito</h1>
<div class="inserimento-dati-carta">
    <form  method="POST" class="dash-form form-registrazione" name="form_carta_credito" id="form_carta_credito" action="./dati_fatturazione.php" onsubmit="return (checkCartaCredito() && validationTipoNome('input_error_carta_nome','titolareCarta') && checkMonthCarta() && checkYearCarta() && checkCVV())">
        <fieldset>
            <legend>Inserire il metodo di pagamento</legend>
            <label for="titolareCarta">Titolare carta:</label>
            <input type="text" class="input" tabindex="1" name="titolareCarta" id="titolareCarta" placeholder="es. Mario Rossi" required="required" autocomplete="off" onblur="validationTipoNome('input_error_carta_nome','titolareCarta')"/>
            
            <p id="input_error_carta_nome" class="p_input_error"> testo errore </p>


            <label for="codiceCarta">Codice carta:</label>
            <input type="number" class="input input-carta" tabindex="2" name="codiceCarta" id="codiceCarta" required="required" autocomplete="off" onblur="checkCartaCredito()"/>
            
            <p id="input_error_carta_codice" class="p_input_error"> testo errore </p>


            <label for="scadenza_mese">Mese:</label>
            <input type="number" class="input input-carta" tabindex="3" name="scadenza_mese" id="scadenza_mese" min="1" max="12" required="required" autocomplete="off" onblur="checkMonthCarta()"/>
            
            <p id="input_error_carta_mese" class="p_input_error"> testo errore </p>

            <label for="scadenza_anno">Anno:</label>
            <input type="number" class="input" tabindex="4" name="scadenza_anno" max="99" min="0" id="scadenza_anno" required="required" autocomplete="off" onblur="checkYearCarta()"/>
            
            <p id="input_error_carta_anno" class="p_input_error"> testo errore </p>

            <label for="cvv"><abbr lang="en" title="card security code">CVV:</abbr></label>
            <input type="text" class="input" tabindex="5" name="cvv" id="cvv" required="required" autocomplete="off" onblur="checkCVV()"/>
            
            <p id="input_error_carta_cvv" class="p_input_error"> testo errore </p>

            <input type="hidden" name="metodopagamento" value="%METODOPAGAMENTO%">

            <input type="submit" class="adm-bottone-modifica-card" tabindex="6"  id="submit" value="Avanti">
        </fieldset>
    </form>
</div>