
<div id="content">
    <!-- <input type="button" value="Indietro" onClick="javascript:history.back()" name="button"> -->
    <h1>Modifica Dati Personali</h1>
    <form action="./landing_modifica_dati.php" method="post" class="dash-form form-registrazione">
        <fieldset>
            <legend class="aiuti_alla_navigazione">Modifica dati personali utente</legend>
            <div>
                <label for="username" lang="en">Username:</label>
                <input class="input" type="text" id="username" name="username" required="required" placeholder="inserisci username" value="%USERNAME%">
                <p id="input_error_username" class="p_input_error"> testo errore </p>
            </div>
            <div>
                <label for="email" lang="en">E-mail:</label>
                <input class="input" type="text" id="email" name="email" required="required" placeholder="inserisci email" value="%EMAIL%">
                <p id="input_error_email" class="p_input_error"> testo errore </p>
            </div>
            <div>
                <label for="nome"><span lang="en">Nome:</span></label>
                <input class="input" type="text" id="nome" name="nome" required="required" placeholder="inserisci nome" value="%NOME%">
                <p id="input_error_nome" class="p_input_error"> testo errore </p>

            </div>
            <div>
                <label for="cognome" lang="en">Cognome:</label>
                <input class="input" type="text" id="cognome" name="cognome" required="required" placeholder="inserisci cognome" value="%COGNOME%">
                <p id="input_error_cognome" class="p_input_error"> testo errore </p>
            </div>
            <div>
                <label for="data_nascita"><span lang="en">Data Nascita:</span></label>
                <input class="input" type="date" id="data_nascita" name="data_nascita" required="required" value="%DATA_NASCITA%">
                <p id="input_error_birt_date" class="p_input_error"> testo errore </p>
            </div>
        
            <div>
                <input class="adm-bottone-modifica-card" type="submit" id="submit" value="Salva i nuovi dati">
                
            </div>
            
        </fieldset>
    </form>
    
</div>