<div id="content">
    <form  method="POST" name="form_carta_credito" id="form_carta_credito" action="./dati_fatturazione.php" onsubmit="return checkCartaCredito()">
        <fieldset>
            <legend>Inserire il metodo di pagamento</legend>
            <div>
            <label for="titolareCarta">Titolare carta:
                <input type="text" name="titolareCarta" id="titolareCarta" placeholder="es. Mario Rossi" required="required" autocomplete="off"/><br/>
            </label>    
        </div>

            <div id="containerCarta">
                <label for="codiceCarta">Codice carta: </label>
                <input type="text" name="codiceCarta" id="codiceCarta"  required="required" autocomplete="off"/><br/>
            </div>

            <div id="scadenza">
                <label for="scadenza">Mese e anno di scadenza: </label>
                <input type="text" name="scadenza" id="scadenza"  required="required" autocomplete="off"/><br/>
            </div>

            <div id="cvv">
                <label for="cvv">CVV: </label>
                <input type="text" name="cvv" id="cvv" required="required" autocomplete="off"/><br/>
            </div>

            <div>    
            <input class="bottone" type="submit" id="submit" value="Avanti">
            </div>

        </fieldset>
    </form>
</div>