<h1 class="titolo-pagina">Inserimento credenziali <span lang="en">Paypal</span></h1>

<div class="form-paypal">
    <form  method="POST" name="form_paypal" id="form_paypal" action="/dati_fatturazione.php" class="dash-form form-registrazione">
        <fieldset>
            <legend>Inserisci la tua <span lang="en">email</span> associata a Paypal</legend>

            <label for="emailPaypal"><span lang="en">Email</span>:</label>
                <input type="text" class="input" tabindex="1" name="emailPaypal" id="emailPaypal" required="required">

            <input type="hidden" name="metodopagamento" value="%METODOPAGAMENTO%">
            <input type="submit" class="adm-bottone-modifica-card" tabindex="2" id="submit" value="Avanti">
        </fieldset>
    </form>
</div>