<h1 class="titolo-pagina">ACCEDI</h1>
<div class="login-form">
    <ERROR_BOX/>
    <form action="/login.php" method="post" class="dash-form form-registrazione">
        <fieldset>
            <legend class="aiuti_alla_navigazione">&nbsp;Modulo di accesso al sito&nbsp; </legend>
                
                <label for="user"><span lang="en"><span lang="en">Email</span> o <span lang="en">Username</span></label>
                <input type="text" name="user" class="input" tabindex="1" id="user" required/>
                

                <label for="password"><span lang="en">Password</span></label>
                <input type="password" name="password" class="input" tabindex="2" id="password" required/>
                

                <input type="submit" lid="login" name="login" class="btn-submit bottoneform" tabindex="3" value="ACCESSO" />
        </fieldset>

    </form>
    <div class="sotto-form-reg-acc"> 
        <p>...oppure <a href="/signup.php">Registrati</a></p>
    </div>
</div>