<h1 class="titolo-pagina">Metodo di pagamento </h1>
<div id="form-metodo-pagamento">
    <form action="./landing_metodo_pagamento.php" method="post">
        <fieldset>
            <legen>Scegli metodo di pagamento</legen>
            <label for="metodopagamento">
                <input type="radio" tabindex="1" name="metodopagamento" id="metodopagamento" value="paypal"> Paypal
            </label>
        </br>
            <label for="metodopagamento">
                <input type="radio" tabindex="2" name="metodopagamento" id="metodopagamento" value="carta"> Carta di Credito/Debito
            </label>
        </br>
            <input type="submit" class="adm-bottone-modifica-card" tabindex="3" name="submit" value="Avanti">
        </fieldset>
    </form>
    
</div>