<h1 class="titolo-pagina">Metodo di pagamento </h1>
<div id="form-metodo-pagamento">
    <form action="./landing_metodo_pagamento.php" class="dash-form" method="post">
        <fieldset>
            <legend>Scegli metodo di pagamento</legend>

            <label for="paypal">
                <input type="radio" tabindex="1" name="metodopagamento" id="paypal" value="paypal"> <span lang="en">Paypal</span>
            </label>

            <label for="carta">
                <input type="radio" tabindex="2" name="metodopagamento" id="carta" value="carta"> Carta di Credito/Debito
            </label>

            <input type="submit" class="adm-bottone-modifica-card" tabindex="3" name="submit" value="Avanti">
        </fieldset>
    </form>
</div>