<nav id='navmenu' class="%CLASS%">
        <div class="mm-item">
            <img src="./img/FlyWebLogo.png" class="mm-logo" alt="" role="presentation" />
            <a class="mm-hamburger" id="hambuger" title="menu" onclick="hamb()" role="button" aria-label="Apri il menù" aria-expanded="false"> &#9776; </a>
        </div>

        <div class="mm-menu">
            <a href="#breadcrumb" class="aiuti-alla-navigazione" target="_blank">Vai al contenuto e salta il menù</a>
            <ul title="menù principale" id="menu" class="menumobile hide-menumobile">
                    <NAVMENUITEM />
            </ul>
        </div>
</nav>