<div class="order-details">
    <input type="button" class="travel-goto" onclick="location.href='/ordiniprofilo.php?id=%USER_ID%';" value="Torna ai tuoi ordini" />
         
        <h1>Dettaglio ordine numero %ID_ORDINE%</h1>

        <div class="order-info">
            <h2>Informazioni generali</h2>

            <h3>Effettuato in data: </h3><span> %DATAORDINE% </span>

            <h3>Costo totale: </h3><strong>%TOTALE%</strong>

            <h3>Indirizzo di fatturazione</h3><span>%VIA%%CAP%, %COMUNE%, %PROVINCIA%</span>
            <h3>Metodo di pagamento</h3>
            <p>%METODOPAGAMENTO%</p>            
        </div>

        <h3>Viaggi acquistati:</h3>

</div>