 <form action="/order.php?id=%ORDER_ID%" class="order-form" method="GET">
          <fieldset>
              <legend class="aiuti-alla-navigazione"> Riepilogo essenziale dell'ordine </legend>
              <h2>Ordine numero: %ID_ORDINE%</h2>
              <div><h3>Data ordine:</h3> %DATAORDINE%</div>
              <div><h3>Totale ordine:</h3> %TOTALE% &euro;</div>
              <input type="submit" class="travel-goto" value="Visualizza dettagli ordine">
          </fieldset>

          <input type="hidden" name="id" value="%ID_ORDINE%">
</form>