 <li>
 <form action="./order.php" class="order-form" method="GET">
          <fieldset>
              <legend class="aiuti-alla-navigazione"> Riepilogo essenziale dell'ordine </legend>
              <div><h2>Ordine numero: %ID_ORDINE%</h2></div>
              <div><h3>Data ordine:</h3> %DATAORDINE%</div>
              <div><h3>Totale ordine:</h3> %TOTALE% &euro;</div>
              <input type="submit" class="travel-goto" value="Visualizza dettagli ordine" title="Visualizza dettagli ordine %ID_ORDINE%">
          </fieldset>

          <input type="hidden" name="id" value="%ID_ORDINE%">
</form>
</li>