<div class="order_details">
    <input type="button" onclick="location.href='/ordiniprofilo.php?id=%USER_ID%';" value="Torna ai tuoi ordini" />
    <div class="elevator_pitch" style="display: flex; flex-direction: row;">
         <div class="info">
            <h1>Ordine N: %ID_ORDINE%</h1>
            <h3>Informazioni generali</h3>
            <p>Effettuato in data: %DATAORDINE%</p>
            <p>Costo totale: %TOTALE%</p>

            <h3>Indirizzo di fatturazione</h3>
            <p>%VIA%</p>
            <p>%CAP%, %COMUNE%, %PROVINCIA%</p>

            <h3>Metodo di pagamento</h3>
            <p>%METODOPAGAMENTO%</p>
            
        </div>

    </div>

</div>