<div class="order-details">
   
    <a href='./ordiniProfilo.php?id=%USER_ID%' role="button" class='travel-goto'>Torna ai tuoi ordini</a>    
    <h1 class="titolo-pagina">Dettaglio ordine numero %ID_ORDINE%</h1>

        <div class="order-info">
            <h2 class="titolo-pagina">Informazioni generali:</h2>
            
            <ul title="informazioni generali sull'ordine">
                <li><h3>Effettuato in data: </h3><span> %DATAORDINE% </span></li>
                <li><h3>Costo totale: </h3><span>%TOTALE%</span></li>
                <li><h3>Indirizzo di fatturazione: </h3><span>%VIA%%CAP%, %COMUNE%, %PROVINCIA%</span></li>
                <li><h3>Metodo di pagamento: </h3><span>%METODOPAGAMENTO%</span></li>
            </ul>
        </div>

        <h2 class="titolo-pagina elenco-viaggi">Elenco viaggi acquistati:</h2>
</div>
