<div class="travel-details-container">

        <img class="main-img"
            src="https://cdn-static.dagospia.com/img/patch/12-2017/gianni-morandi-con-la-zizzona-di-battipaglia-970741.jpg"
            alt="Italian Trulli">

        <div class="travel-details-info">
                <h1>%NAME%</h1>
                <!-- alt vuoto è voluto-->
                <p><img alt="" src="/img/place.svg" class="travel-details-icon"/><span><strong>%COUNTRY%, %CITY% - %LOCATION%</strong></span> </p>
                <p><img alt="" src="/img/clock.svg" class="travel-details-icon"/><span>Data partenza: <strong>%START_DATE%</strong></span></p>
                <p><img alt="" src="/img/clock.svg" class="travel-details-icon"/><span>Data ritorno: <strong>%END_DATE%</strong></span></p>
                <p class="price"><strong>%PRICE% &euro; </strong> </p>
                <input type="button" id="aggiungi-al-carrello" class="travel-goto" value="Aggiugni al carrello">
        </div>
        <div class="complete-desc">
            <h2>Descrizione del viaggio: </h2>
            <p>
                %LONG_DESC%
            </p>
        </div>
</div>