<li class="travel-list-item">

    <img class="travel-image" alt="%TRAVEL_IMAGE_NAME%" src="%TRAVEL_IMAGE%" />


        <div class="item-title">
            <h2><a href="./travel.php?id=%TRAVEL_ID%"> %TRAVEL_TITLE%</a></h2>
        </div>

        <div class="item-desc">
            <div>%TRAVEL_DESCRIPTION%</div>
        </div>
        <div class="item-info">
            <div><h3>Date:</h3><span> dal <strong>%TRAVEL_START_DATE%</strong> al <strong>%TRAVEL_END_DATE%</strong> </span></div>

            <div><h3>Prezzo:</h3><span><strong> %TRAVEL_PRICE% &euro;</strong></span> </div>
        </div>

    <a class='travel-goto' href='./travel.php?id=%TRAVEL_ID% 'role="button" title="scopri di più sul viaggio %TRAVEL_TITLE%">Scopri di più...</a>
</li>