<div class="travel-order">
        <ul title="informazioni riassunte del viaggio acquistato">
                <li>
                        <h3>Nome viaggio:</h3><span> %NAME%</span>

                </li>
                <li>
                        <h3>Prezzo:</h3><span>: %PRICE%</span>

                </li>
                <li>
                        <h3>Luogo:</h3><span>: %COUNTRY%, %CITY%, %LOCATION%</span>

                </li>
                <li>
                        <h3>Date:</h3> <span>dal <time>%START_DATE%</time> al %END_DATE%</span>

                </li>
        </ul>
</div>