<div class="travel-details-container">

        <img class="main-img"
            src="%TRAVEL_IMAGE%"
            alt="%TRAVEL_IMAGE_NAME%"/>

        <div class="travel-details-info">
                <h1>%NAME%</h1>
                <!-- alt vuoto è voluto-->
                <p><img alt="Punto di localizzazione stilizzato" src="./img/place.svg" class="travel-details-icon"/><span><strong>%COUNTRY%, %CITY% - %LOCATION%</strong></span> </p>
                <p><img alt="Orologio stilizzato" src="./img/clock.svg" class="travel-details-icon"/><span>Data partenza: <strong>%START_DATE%</strong></span></p>
                <p><img alt="Orologio stilizzato" src="./img/clock.svg" class="travel-details-icon"/><span>Data ritorno: <strong>%END_DATE%</strong></span></p>
                <p class="price"><strong>%PRICE% &euro; </strong> </p>
                <form action="./landing_aggiungi_carrello.php" method="post">
                    <input type="text" name="id_viaggio" value="%ID_VIAGGIO%">
                    <input type="submit" class="adm-bottone-modifica-card" name="btn_aggiungi" value="Aggiungi al carrello">
              </form>
               
        </div>
        <div class="complete-desc">
            <h2>Descrizione del viaggio: </h2>
            <p>
                %LONG_DESC%
            </p>
        </div>
</div>